<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>问答系统-问题详情</title>

    <!-- Fontfaces CSS-->
    <link href="../../static/css/font-face.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../../static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../../static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../static/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <table><tr>
                        <td><img src="../../static/images/icon/logo1.png"></td>
                        <td><img src="../../static/images/icon/logo2.png"></td>
                    </tr></table>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>排名查询</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{% url 'manager_check1' %}">个人查询</a>
                                </li>
                                <li>
                                    <a href="{% url 'manager_check2' %}">班级查询</a>
                                </li>
                                <li>
                                    <a href="{% url 'manager_check3' %}">查询所有</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>信息录入</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{% url 'manager_input1' %}">综合排名录入</a>
                                </li>
                                <li>
                                    <a href="{% url 'manager_input2' %}">核心绩点排名录入</a>
                                </li>
                                <li>
                                    <a href="{% url 'manager_input3' %}">分学年排名录入</a>
                                </li>
                                <li>
                                    <a href="{% url 'manager_input3' %}">权限信息录入</a>
                                </li>
                                <li>
                                    <a href="{% url 'manager_input5' %}">双学位班录入</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-child"></i>问答系统</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{% url 'manager_qa1' %}">查看问题</a>
                                </li>
                                <li>
                                    <a href="{% url 'manager_qa4' %}">回答问题</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap" style="float:right">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="../../static/images/icon/header.png"/>
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{request.session.user_name}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="../../static/images/icon/header.png"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{request.session.user_name}}</a>
                                                    </h5>
                                                    
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>账户信息</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>更改设置</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>登出</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">问题详情</h3>
                            </div>
                        </div>

                        <div class="col-md-10">
                            {% for q in question %}
                            <div class="card">
                                {% if forloop.counter > 1 %}                              
                                <div class="card-header">
                                    <div id="qt{{q.qno}}" >
                                        <strong class="card-title mb-3">追问{{forloop.counter0}}：{{q.title}}</strong>
                                        <button type="button" class="btn btn-success" value="{{q.qno}}" onclick="change(this.value)">修改</button>
                                    </div>
                                    <div id="ct{{q.qno}}" style="display:none">
                                        <textarea name="titlechange" style="display: none;">{{q.qno}}</textarea>
                                        <textarea name="answer-content" rows="1" class="form-control">{{q.title}}</textarea>
                                        <button type="submit" id="sm" class="btn btn-success" value="{{q.qno}}" onclick="reback(this.value)">确定</button>
                                    </div>
                                </div>
                                {% else %}
                                <form action="" method="post">
                                    <div class="card-header">
                                        <div id="qt{{q.qno}}" >
                                            <strong class="card-title mb-3">{{q.title}}</strong>
                                            <button type="button" class="btn btn-success" value="{{q.qno}}" onclick="change(this.value)">修改</button>
                                        </div>
                                        <div id="ct{{q.qno}}" style="display:none">
                                            <textarea name="titlechange" style="display: none;">{{q.qno}}</textarea>
                                            <textarea name="answer-content" rows="1" class="form-control">{{q.title}}</textarea>
                                            <button type="submit" id="sm" class="btn btn-success" value="{{q.qno}}" onclick="reback(this.value)">确定</button>
                                        </div>
                                    </div>
                                </form>
                                {% endif %}
                                <div class="card-body">
                                    <form action="" method="post">
                                        <div id="qc{{q.qno}}" >
                                            <p>
                                                {{q.content}}
                                                <button type="button" class="btn btn-success" value="{{q.qno}}" onclick="change1(this.value)">修改</button>
                                                {% if q.pic %}
                                                <img src="data:image/jpeg;base64,{{ q.pic }}">
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div id="cc{{q.qno}}" style="display:none">
                                            <textarea name="contentchange" style="display: none;">{{q.qno}}</textarea>
                                            <textarea name="answer-content" class="form-control">{{q.content}}</textarea>
                                            <button type="submit" id="sm" class="btn btn-success" value="{{q.qno}}" onclick="reback1(this.value)">确定</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% for a in answer %}
                                {% if a.qno == q.qno %}
                                    <div class="card">
                                        <div class="card-header">
                                            <strong class="card-title mb-3">回答者：{{a.ansname}}   {{a.time}}</strong>
                                        </div>
                                        <div class="card-body">
                                            <form action="" method="post">
                                                <div id="ac{{a.ano}}" >
                                                    <p>
                                                        {{a.content}}
                                                        <button type="button" class="btn btn-success" value="{{a.ano}}" onclick="change2(this.value)">修改</button>
                                                        {% if a.pic %}
                                                        <img src="data:image/jpeg;base64,{{ a.pic }}">
                                                        {% endif %}
                                                    </p>
                                                </div>
                                                <div id="anc{{a.ano}}" style="display:none">
                                                    <textarea name="answerchange" style="display: none;">{{a.ano}}</textarea>
                                                    <textarea name="answer-content" class="form-control">{{a.content}}</textarea>
                                                    <button type="submit" id="sm" class="btn btn-success" value="{{a.ano}}" onclick="reback2(this.value)">确定</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% endfor %}

                            
                            {% if ifanswer == 1 %}
                            <!--<div align="center">-->
                                <a href="{% url 'manager_qa3' lastqno %}">
                                    <button class="btn btn-success" style="text-align: center;">回答</button>    
                                </a>
                            </div>
                        
                            {% endif %}
                        </div>
                        
                        

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright &copy; 2020.School of Information All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function change(val){
            if(document.getElementById("qt"+val).style.display==""){
                document.getElementById("qt"+val).style.display="none";
                document.getElementById("ct"+val).style.display="";
            }
            else{
                document.getElementById("qt"+val).style.display="";
                document.getElementById("ct"+val).style.display="none";
            }
        }
        function reback(val){
            location.reload();
            document.getElementById("qt"+val).style.display="";
            document.getElementById("ct"+val).style.display="none";
        }
        function change1(val){
            if(document.getElementById("qc"+val).style.display==""){
                document.getElementById("qc"+val).style.display="none";
                document.getElementById("cc"+val).style.display="";
            }
            else{
                document.getElementById("qc"+val).style.display="";
                document.getElementById("cc"+val).style.display="none";
            }
        }
        function reback1(val){
            location.reload();
            document.getElementById("qc"+val).style.display="";
            document.getElementById("cc"+val).style.display="none";
        }
        function change2(val){
            if(document.getElementById("ac"+val).style.display==""){
                document.getElementById("ac"+val).style.display="none";
                document.getElementById("anc"+val).style.display="";
            }
            else{
                document.getElementById("ac"+val).style.display="";
                document.getElementById("anc"+val).style.display="none";
            }
        }
        function reback2(val){
            location.reload();
            document.getElementById("ac"+val).style.display="";
            document.getElementById("anc"+val).style.display="none";
        }
    </script>

    <!-- Jquery JS-->
    <script src="../../static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../static/vendor/slick/slick.min.js">
    </script>
    <script src="../../static/vendor/wow/wow.min.js"></script>
    <script src="../../static/vendor/animsition/animsition.min.js"></script>
    <script src="../../static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../../static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../../static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../static/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="../../static/js/main.js"></script>

</body>

</html>
<!-- end document-->
